<footer>
    <div class="f-info">
        <div class="f-info-left">
            <div>&copy; 2025 Airbnb, Inc.</div>
            <ul>
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/terms">Terms</a></li>
                <li><a href="/companyDetails">Company detils</a></li>
            </ul>
        </div>
        <div class="f-info-right">
            <span>
                <button type="button"><i class="fa-solid fa-globe"></i>English (IN)</button>
            </span>
            <span>
                <button type="button">₹ INR</button>
            </span>
            <a href="https://www.facebook.com/airbnb/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://x.com/Airbnb"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.instagram.com/airbnb?igsh=MWtlbXUzbGoyZHJ5"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</footer>