<footer>
    <div class="f-info">
        <div class="f-info-left">
            <p>© 2025 Airbnb, Inc.</p>
            <ul>
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/terms">Terms</a></li>
                <li><a href="/companyDetails">Company detils</a></li>
            </ul>
        </div>
        <div class="f-info-right">
            <span>
                <button><i class="fa-solid fa-globe"></i>English (IN)</button>
            </span>
            <span>
                <button>
                    <span>₹ INR</span>
                </button>
            </span>
            <span><a href=""><i class="fa-brands fa-facebook"></i></a></span>
            <span><a href=""><i class="fa-brands fa-x-twitter"></i></a></span>
            <span><a href=""><i class="fa-brands fa-instagram"></i></a></span>
        </div>
    </div>
</footer>