<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="alert alert-danger col-md-6 offset-md-3 mt-5">
        <h6 class="alert-heading text-center"><%= "Error " + statusCode + ": " + (message || "Unexpected error occurred.") %></h6>
        <a href="/listings" class="btn btn-dark col-2 offset-5">Go Back</a>
    </div>
</div>