<% layout("/layouts/boilerplate") %>
<body>
    <h4>All Listings</h4>
    <% for (let listing of allListings) { %>
    <div class="card" style="width: 18rem;">
        <img src="<%- listing.image.url %>" class="card-img-top" alt="image">
        <div class="card-body">
            <p class="card-text"><%= listing.title %></p>
        </div>
    </div>
    <% } %>
    <ul>
        <% for (let listing of allListings) { %>
        <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
        <% } %>
    </ul>
</body>
