<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-0.5">
        <br><br>
        <h1>Creating a new listing</h1>
        <form method="POST" action="/listings">
            <div class="mb-3">
                <label for="title" class="form-lable">Title:</label>
                <input type="text" class="form-control" name="listing[title]" placeholder="Enter Title">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-lable">Description:</label>
                <input type="text" class="form-control" name="listing[description]" placeholder="Enter description">
            </div>
            <div class="mb-3">
                <label for="image" class="form-lable">Image URL:</label>
                <input type="text" class="form-control" name="listing[image]" placeholder="Enter image URL">
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-lable">Price:</label>
                    <input type="number" class="form-control" name="listing[price]" placeholder="Enter price">
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-lable">Country:</label>
                    <input type="text" class="form-control" name="listing[country]" placeholder="Enter country">
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-lable">Location:</label>
                <input type="text" class="form-control" name="listing[location]" placeholder="Enter location">
            </div>
            <button class="btn btn-dark add-btn" type="submit">Add</button>
        </form>
    </div>
</div>