* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f8f9fa;
    color: #333;
    line-height: 1.6;
    background-color: plum;
}
.container {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
}