<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <h1 class="col-6 offset-2">Verify OTP</h1>
    <div class="col-8 offset-2">
        <form action="/verifyOtp" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="otp" class="form-label">Enter OTP</label>
                <input type="text" class="form-control" id="otp" name="otp" required>
            </div>
            <button type="submit" class="btn btn-success">Verify</button>
        </form>
    </div>
</div>
